<footer class="footer">
      <div class="footer__top">
        <a href="{{ links.23 }}" class="main-navigation__link w-inline-block"><img src="{{ images.-4632f47c.url }}" loading="lazy" width="341" alt="{{ images.-4632f47c.alt | trim | escape }}"></a>
        <div class="top__wrap">
          <div class="wrap__text footer">
            <p class="top__text">{{ texts.-6498b733 }}<a href="{{ links.445ff0a8 }}" class="link">{{ texts.-2ee485ce }}</a>
            </p>
            <p class="top__text">{{ texts.461e7d51 }}<a href="{{ links.-2c3a3faf }}" class="link-2">{{ texts.-1376fb06 }}</a>
            </p>
          </div>
          <div class="social-wrap">
            <a href="{{ links.23 }}" class="content-social__linkfooter w-inline-block"><img src="{{ images.36c5e456.url }}" alt="{{ images.36c5e456.alt | trim | escape }}" class="footer-image"></a>
            <a href="{{ links.23 }}" class="content-social__linkfooter w-inline-block"><img src="{{ images.-1f7a768d.url }}" alt="{{ images.-1f7a768d.alt | trim | escape }}" class="footer-image"></a>
            <a href="{{ links.23 }}" class="content-social__linkfooter w-inline-block"><img src="{{ images.63d3600f.url }}" alt="{{ images.63d3600f.alt | trim | escape }}" class="footer-image"></a>
          </div>
          <div class="wrap__copiwrite">
            <div class="text-block"><strong class="bold-text">{{ texts.4ab21e54 }}</strong></div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <a href="{{ links.2c9db82 }}" class="bottom__link first">{{ texts.338ad3 }}</a>
        <a href="{{ links.4b0e6111 }}" class="bottom__link">{{ texts.38b72420 }}</a>
        <a href="{{ links.55ce10b8 }}" class="bottom__link">{{ texts.59a4b87 }}</a>
        <a href="{{ links.295c596f }}" class="bottom__link">{{ texts.-38ad4b62 }}</a>
        <a href="{{ links.618fe506 }}" class="bottom__link">{{ texts.329660ca }}</a>
        <a href="{{ links.-1d56f9b0 }}" class="bottom__link">{{ texts.2a1385a }}</a>
        <a href="{{ links.167a0051 }}" class="bottom__link">{{ texts.-69525c33 }}</a>
      </div>
    </footer>