<nav data-w-id="c22b21ad-8538-9ba0-0c94-2ebdc06bcc58" class="main-navigation">
    <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightSidebar" data-wf-cart-query="" data-wf-page-link-href-prefix="" data-wf-cart-duration="450" class="w-commerce-commercecartwrapper cart">
      <a href="{{ links.23 }}" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink cart-button nav w-inline-block"><svg class="w-commerce-commercecartopenlinkicon icon-2" width="17px" height="17px" viewBox="0 0 17 17">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M2.60592789,2 L0,2 L0,0 L4.39407211,0 L4.84288393,4 L16,4 L16,9.93844589 L3.76940945,12.3694378 L2.60592789,2 Z M15.5,17 C14.6715729,17 14,16.3284271 14,15.5 C14,14.6715729 14.6715729,14 15.5,14 C16.3284271,14 17,14.6715729 17,15.5 C17,16.3284271 16.3284271,17 15.5,17 Z M5.5,17 C4.67157288,17 4,16.3284271 4,15.5 C4,14.6715729 4.67157288,14 5.5,14 C6.32842712,14 7,14.6715729 7,15.5 C7,16.3284271 6.32842712,17 5.5,17 Z" fill="currentColor" fill-rule="nonzero"></path>
          </g>
        </svg>
        <div style="display:none" data-count-hide-rule="always" class="w-commerce-commercecartopenlinkcount">{{ item_count }}</div>
      </a>
      <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightSidebar cart-wrapper">
        <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container">
          <div class="w-commerce-commercecartheader"><img src="{{ images.-2a484e45.url }}" width="80" alt="{{ images.-2a484e45.alt | trim | escape }}">
            <a href="{{ links.23 }}" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink w-inline-block"><svg width="16px" height="16px" viewBox="0 0 16 16">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g fill-rule="nonzero" fill="#333333">
                    <polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon>
                  </g>
                </g>
              </svg></a>
          </div>
          <div class="w-commerce-commercecartformwrapper">
            <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform">
              <script type="text/x-wf-template" id="wf-template-317e7cd2-26da-18b2-b9a5-2ab7f0bbb05f"><div data-node-type="cart-item" class="cart-item w-commerce-commercecartitem"><img data-node-type="cart-item-image" data-sizes="[{"max":10000,"size":"100vw"}]" class="w-commerce-commercecartitemimage" src="<%= it.image %>"><div data-node-type="cart-item-info" class="w-commerce-commercecartiteminfo"><div data-node-type="cart-product-name" class="w-commerce-commercecartproductname"><%= it.name %></div><div data-node-type="cart-product-price" data-commerce-type="variation-price"><%= it.price %></div><ul class="w-commerce-commercecartoptionlist"><% Object.entries(it.options).forEach( data =>  { %><li data-node-type="cart-option-list-item"><span data-node-type="cart-option-list-item-label"><%= data[0] %></span><span>: </span><span data-node-type="cart-option-list-item-value"><%= data[1] %></span></li><% }) %></ul><a data-node-type="cart-remove-link" class="remove-button" href="#" data-product-id="<%= it.uniqueId %>"><div class="text-block-4">Remove</div></a></div><input class="w-commerce-commercecartquantity" name="<%= it.uniqueId %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"></div></script>
              <div class="w-commerce-commercecartlist cart-list" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-317e7cd2-26da-18b2-b9a5-2ab7f0bbb05f"></div>
              <div class="w-commerce-commercecartfooter">
                <div class="w-commerce-commercecartlineitem">
                  <div>{{ texts.-76f396dc }}</div>
                  <div class="w-commerce-commercecartordervalue">{{ items_subtotal_price | money }}</div>
                </div>
                <div>
                  
                  <a href="{{ links.5032f721 }}" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton checkout-button" data-loading-text="Hang Tight...">{{ texts.-7941186e }}</a>
                </div>
              </div>
            </form>
            <div class="w-commerce-commercecartemptystate empty-state-2">
              <div>{{ texts.3d503d2b }}</div>
              <a href="{{ links.5870ea39 }}" class="button w-button">{{ texts.-74bddc7e }}</a>
            </div>
            <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
              <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Cart failed.">{{ texts.-1c765d0d }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="{{ links.2f }}" aria-current="page" class="main-navigation__link vertical w-inline-block w--current"><img src="{{ images.-31d8c55d.url }}" width="100" alt="{{ images.-31d8c55d.alt | trim | escape }}" class="main-navigation__logo"></a>
    <div data-w-id="c22b21ad-8538-9ba0-0c94-2ebdc06bcc5b" class="main-navigation__wrap-burger">
      <div class="wrap-burger__line"></div>
      <div class="wrap-burger__line-center"></div>
      <div class="wrap-burger__line"></div>
    </div>
    <div data-w-id="c22b21ad-8538-9ba0-0c94-2ebdc06bcc5f" class="main-navigation__wrap-search"><img src="{{ images.7cca6557.url }}" width="22" data-sizes="[{&quot;max&quot;:991,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;22px&quot;}]" alt="{{ images.7cca6557.alt | trim | escape }}" class="wrapp--search__image--search">
      <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="modal" data-wf-cart-query="" data-wf-page-link-href-prefix="" data-wf-cart-duration="450" class="w-commerce-commercecartwrapper cart">
        <a href="{{ links.23 }}" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink cart-button w-inline-block"><svg class="w-commerce-commercecartopenlinkicon icon-2" width="17px" height="17px" viewBox="0 0 17 17">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <path d="M2.60592789,2 L0,2 L0,0 L4.39407211,0 L4.84288393,4 L16,4 L16,9.93844589 L3.76940945,12.3694378 L2.60592789,2 Z M15.5,17 C14.6715729,17 14,16.3284271 14,15.5 C14,14.6715729 14.6715729,14 15.5,14 C16.3284271,14 17,14.6715729 17,15.5 C17,16.3284271 16.3284271,17 15.5,17 Z M5.5,17 C4.67157288,17 4,16.3284271 4,15.5 C4,14.6715729 4.67157288,14 5.5,14 C6.32842712,14 7,14.6715729 7,15.5 C7,16.3284271 6.32842712,17 5.5,17 Z" fill="currentColor" fill-rule="nonzero"></path>
            </g>
          </svg>
          <div style="display:none" data-count-hide-rule="always" class="w-commerce-commercecartopenlinkcount">{{ item_count }}</div>
        </a>
        <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-modal cart-wrapper">
          <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container">
            <div class="w-commerce-commercecartheader"><img src="{{ images.-2a484e45.url }}" width="80" alt="{{ images.-2a484e45.alt | trim | escape }}">
              <a href="{{ links.23 }}" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink w-inline-block"><svg width="16px" height="16px" viewBox="0 0 16 16">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g fill-rule="nonzero" fill="#333333">
                      <polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon>
                    </g>
                  </g>
                </svg></a>
            </div>
            <div class="w-commerce-commercecartformwrapper">
              <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform">
                <script type="text/x-wf-template" id="wf-template-321eb709-d48b-822a-60de-d394010de60e"><div data-node-type="cart-item" class="cart-item w-commerce-commercecartitem"><img data-node-type="cart-item-image" data-sizes="[{"max":10000,"size":"100vw"}]" class="w-commerce-commercecartitemimage" src="<%= it.image %>"><div data-node-type="cart-item-info" class="w-commerce-commercecartiteminfo"><div data-node-type="cart-product-name" class="w-commerce-commercecartproductname"><%= it.name %></div><div data-node-type="cart-product-price" data-commerce-type="variation-price"><%= it.price %></div><ul class="w-commerce-commercecartoptionlist"><% Object.entries(it.options).forEach( data =>  { %><li data-node-type="cart-option-list-item"><span data-node-type="cart-option-list-item-label"><%= data[0] %></span><span>: </span><span data-node-type="cart-option-list-item-value"><%= data[1] %></span></li><% }) %></ul><a data-node-type="cart-remove-link" class="remove-button" href="#" data-product-id="<%= it.uniqueId %>"><div class="text-block-4">Remove</div></a></div><input class="w-commerce-commercecartquantity" name="<%= it.uniqueId %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"></div></script>
                <div class="w-commerce-commercecartlist cart-list" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-321eb709-d48b-822a-60de-d394010de60e"></div>
                <div class="w-commerce-commercecartfooter">
                  <div class="w-commerce-commercecartlineitem">
                    <div>{{ texts.-76f396dc }}</div>
                    <div class="w-commerce-commercecartordervalue">{{ items_subtotal_price | money }}</div>
                  </div>
                  <div>
                    
                    <a href="{{ links.5032f721 }}" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton checkout-button" data-loading-text="Hang Tight...">{{ texts.-7941186e }}</a>
                  </div>
                </div>
              </form>
              <div class="w-commerce-commercecartemptystate empty-state-3">
                <div>{{ texts.3d503d2b }}</div>
                <a href="{{ links.5870ea39 }}" class="button w-button">{{ texts.-74bddc7e }}</a>
              </div>
              <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Cart failed.">{{ texts.-1c765d0d }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>